<template>
  <div>
    <el-container>
      <Header />
    </el-container>
    <el-container>
      <el-main class="main-layout">
        <el-row>
          <el-col :lg="6" :sm="24" style="margin: 50px auto; margin-top: 0">
            <MenuLeft />
          </el-col>
          <el-col :lg="12" :sm="24">
            <Nuxt />
          </el-col>
          <el-col :lg="6" :sm="24">
            <ListUsersActive />
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>
<script>
import Header from "./home/header.vue";
import MenuLeft from "./home/menu-left.vue";
import ListUsersActive from "./home/list-users-active.vue";

export default {
  
  middleware: "notAuthenticated",
  components: {
    Header,
    MenuLeft,
    ListUsersActive,
  },
};
</script>