<template>
  <el-card shadow="always" class="create-post">
    <el-row :gutter="20" style="margin: 20px 0">
      <el-col :span="2" :xs="4">
        <el-avatar style="margin-top: -7px;"
          :size="50"
          src="https://lh3.googleusercontent.com/ogw/ADGmqu-Gy8CqpSuvmtte9evH-DJ9-lowo3E78ld-0flMJw=s83-c-mo"
        ></el-avatar>
      </el-col>
      <el-col :span="22" :xs="20">
        <el-input placeholder="what's your mind ?" v-on:keyup.enter="createPost()" v-model="input"> </el-input>
      </el-col>
    </el-row>
    <el-row :gutter="20" class="row-posts" style="margin-bottom: 20px">
      <el-col :span="8">
        <i class="el-icon-video-camera-solid" @click="createPost()"></i>
        <span class="title"  @click="createPost()">Live Video</span>
      </el-col>
      <el-col :span="8">
          <i class="el-icon-picture"></i>
          <span class="title">Photo/Video</span>
      </el-col>
      <el-col :span="8">
        <i class="el-icon-potato-strips"></i>
        <span class="title">Feeling/Activity</span>
      </el-col>
    </el-row>
  </el-card>
</template>
<script>
export default {
  data() {
    return {
        input:""
    };
  },
  methods: {
      createPost(){
          console.log(12312);
      }
  },
};
</script>
<style>
hr {
  border: 1px solid #80808021;
}
.el-main {
  line-height: 10px;
}
.create-post {
  margin-bottom: 30px;
}
.row-posts i {
  color: #f56c6c;
  font-size: 29px;
  padding-top: 10px;
  transform: translateY(6px);
  cursor: pointer;
}
.row-posts i.el-icon-picture {
  color: #1dab8c;
}
.row-posts i.el-icon-potato-strips {
  color: sandybrown;
}
.row-posts span.title {
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
}
.row-posts span.title:hover {
  color: black;
}
</style>