<template>
  <div class="block">
    <el-timeline>
      <el-timeline-item
        v-for="(i, index) in posts"
        :key="index"
        timestamp="2018/4/12"
        placement="top"
      >
        <el-card class="post">
          <h4>{{ i.user_name }}</h4>
          <p style="line-height: 35px; text-align: justify">
            {{ i.description }}
          </p>
          <el-image :src="i.images"></el-image>
          <el-collapse>
            <el-card shadow="hover">
              <el-row>
                <el-col :lg="8" class="text-lg-center"
                  ><b> {{ i.number_like }}</b> <i class="el-icon-star-off"></i
                ></el-col>
                <el-col :lg="8" class="text-lg-center">
                  <b>{{ i.number_comment }}</b> Bình luận
                </el-col>
                <el-col :lg="8" class="text-lg-center">
                  <b>{{ i.number_share }}</b> chia sẻ
                </el-col>
              </el-row>
            </el-card>
          </el-collapse>
        </el-card>
      </el-timeline-item>
    </el-timeline>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      count: 10,
      loading: false,
    };
  },
  computed: mapGetters({
    posts: "post/getAllPosts"
  }),
  methods: {
    load() {
      this.loading = true;
      setTimeout(() => {
        this.count += 2;
        this.loading = false;
      }, 2000);
    },
  },
};
</script>
<style>
.list-item {
  margin: 5px 0;
}
.el-image {
  height: auto;
  width: 100%;
}
.post .el-row {
  box-sizing: border-box;
  line-height: 25px;
  text-align: left;
}
.post {
  text-align: left;
}
</style>