<template>
  <el-popover placement="bottom" width="300" trigger="click">
    <el-row>
      <h3>Message</h3>
    </el-row>
    <el-row>
      <el-card
        shadow="always"
        v-for="(value, index) in users"
        :key="index"
        @click="showChatPops(value)"
      >
        <el-row>
          <NuxtLink to="/message/1">
            <el-col :sm="6" :xs="4">
              <el-badge is-dot class="item">
                <el-avatar icon="el-icon-user-solid"></el-avatar>
              </el-badge>
            </el-col>
            <el-col :sm="16" :xs="18" class="infinite-list-item">
              <h3>{{ value.name }}</h3>
              <p>{{ value.data[0].contentB }}</p>
            </el-col>
            <el-col :sm="2" :xs="2">
              <i class="el-icon-circle-check"></i>
            </el-col>
          </NuxtLink>
        </el-row>
      </el-card>
      <el-card shadow="always">
        <NuxtLink to="/message">Xem tất cả </NuxtLink>
      </el-card>
    </el-row>
    <el-badge :value="1" class="item" slot="reference">
      <i class="el-icon-chat-line-round"></i>
    </el-badge>
  </el-popover>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      visible: false,
      user: {},
    };
  },
  computed: mapGetters({
    users: "users/getAllUsers",
    getUserById: "users/getUserById",
  }),
  components: {},
  methods: {
    showChatPops(user) {
      this.user = this.getUserById(user.id);
      this.visible = true;
    },
    hideChatPops(msg) {
      this.visible = msg;
    },
  },
};
</script>

<style>
.el-badge__content.is-fixed {
  top: 37px !important;
}
.el-card {
  cursor: pointer;
}
</style>
