extends ../layout
block content
    legend Demo chat realtime NodeJS
    input#username(type='text' name='username' placeholder='Enter name')
    br
    #content
    input#message(placeholder='Write something..')
    br
    button#sendMessage SEND
