.story {
    position: relative;
    cursor: pointer;
    height: 100%;
    margin-bottom: 55px;
}

.story-card .el-card__body {
    padding: 0 !important;
}

.story h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
}

.story i {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px !important;
    z-index: 2;
}

.el-image {
    height: 200px;
    overflow: hidden;
    transition: 1s;
}

.story:hover img {
    transform: scale(1.3);
    transition: 1s;
}

span.title-span {
    font-weight: 900;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.el-input__inner {
    border-radius: 50px;
}

.icon-top i {
    font-size: 28px;
    padding-top: 15px;
    cursor: pointer;
    padding-left: 15px;
    color: gray;
}

.icon-top i:hover {
    color: black;
}

.el-menu--horizontal>.el-menu-item i {
    font-size: 28px;
    padding-right: 0px;
}

.el-menu.el-menu--horizontal {
    width: max-content;
    margin: auto;
    border: none;
}

.el-menu {
    border: none;
}

.el-menu-item:focus,
.el-menu-item:hover {
    background-color: white;
}

.el-col {
    border-radius: 4px;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.el-header,
.el-footer {
    background-color: white;
    color: #333;
    text-align: center;
    line-height: 60px;
    padding: 0;
    border-bottom: 1px solid #80808030;
    height: 65px !important;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: white;
    color: #333;
    text-align: center;
    line-height: 160px;
}

body>.el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.massage-header {
    width: 50%;
}

.box-chat {
    position: fixed;
    bottom: 19px;
    right: 9px;
    text-align: left;
    z-index: 9999999;
}

.menu-right {
    position: fixed;
    right: 50px;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
}

.menu-left {
    position: fixed;
}

.el-tag {
    white-space: none !important;
}

.logo {
    width: 55px;
}

.main-layout {
    margin-top: 100px;
}

.box-chat .el-card__body {
    height: 300px;
    overflow-y: scroll;
}

.text-lg-center {
    text-align: center !important;
}

.el-timeline-item__timestamp.is-top {
    text-align: left;
}

.el-timeline {
    padding: 0;
}

@media (max-width: 1023px) {
    .text-lg-center {
        text-align: left !important;
    }
    .row-posts i {
        color: #f56c6c;
        font-size: 30px;
        padding-top: 10px;
        transform: translateY(6px);
        cursor: pointer;
        padding: 23px;
    }
    .main-layout {
        margin-top: 0px !important;
    }
    .d-none {
        display: none;
    }
    .el-drawer {
        width: 50% !important;
    }
    .logo {
        text-align: left;
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 2;
        width: 60px;
    }
    .icon-top {
        position: fixed;
        right: 10px;
        z-index: 2;
        top: 10px;
    }
    .footer-mobile {
        position: fixed;
        bottom: 0;
        z-index: 2;
        width: 100%;
        background: white;
        border-top: 1px solid #808080ad;
        box-shadow: 1px -2px 20px 4px #808080bf;
        left: 0;
    }
}