<template>
  <div>
    <el-row>
      <el-col
        class="story"
          :lg="6"
          :xs="12"
          :md="8"
          :sm="8"
        v-for="(value, index) in story"
        :key="index"
      >
        <el-card shadow="always" class="story-card">
          <el-image
            @click="centerDialogVisible = true"
            style="height: 100%; width:100%; !important"
            :src="value.image_url"
          ></el-image>
          <h3 @click="centerDialogVisible = true">{{ value.user_name }}</h3>
          <i
            v-if="index == '0'"
            class="el-icon-circle-plus-outline"
            style="font-size: 50px"
          ></i>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      centerDialogVisible: false,
      story: [
        {
          user_name: "Tin của bạn",
          image_url:
            "https://znews-photo.zadn.vn/w660/Uploaded/kbd_bcvi/2019_11_23/5d8291bb6f24eb36944980e5.jpg",
        },
      ],
    };
  },
  methods: {},
};
</script>