<template>
    <div class="box-chat d-none" v-if="showMessage.visible">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span><b>{{ showMessage.name }}</b></span>
                <el-button style="float: right; padding: 3px 0" type="text" @click="close()"><i class="el-icon-minus"></i></el-button>
            </div>
            <div v-for="i in showMessage.data" :key="i" class="text item">
                <p><el-tag type="info"> {{ i.contentA }}</el-tag></p>
                <p><el-tag type="success"> {{ i.contentB }}</el-tag></p>
            </div>
            <div class="footer-chat">
               <form v-on:submit.prevent="pushToUSer">
                  <el-input
                      placeholder="Aa"
                      v-model="input"
                      >
                  </el-input>
                    <!-- <button type="submit" name="btnTeste">Gửi</button> -->
                </form>
            </div>
        </el-card>
    </div>
</template>

<script>
  export default {
    data() {
      return {
          input: '',
          showMessage: this.showMessage
      };
    },
    created() {
    	console.log(this.showMessage);
    },
    props: {
       showMessage: Object  
    },
    methods: {
      close(){
        this.showMessage.visible = false;
      },
      getFormValues(event){
        event.preventDefault();
        console.log(this.input);
        this.showMessage = this.showMessage.data.contentB;
        
        this.input = "";
      },
      pushToUSer() {
        this.$emit('pushToUSer', this.input);
      }
    }
  }
</script>

<style>
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

  .box-card {
    width: 300px;
  }
</style>