<template>
  <el-container class="header">
    <el-header :lg="12">
      <el-row :gutter="10">
        <el-col :lg="1" :sm="12" :xs="12" class="logo">
          <!-- <i class="el-icon-lollipop" style="font-size: 50px; color:gray;"></i> -->
          <Logo />
        </el-col>
        <el-col :lg="5" class="d-none">
          <el-input placeholder="Type something" v-model="input1">
            <i slot="prefix" class="el-input__icon el-icon-search"></i>
          </el-input>
        </el-col>
        <el-col :lg="12" class="footer-mobile">
          <el-menu
            :default-active="activeIndex"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
          >
            <el-menu-item index="1"><i class="el-icon-house"></i></el-menu-item>
            <el-menu-item index="2"><i class="el-icon-date"></i></el-menu-item>
            <el-menu-item index="3"
              ><i class="el-icon-video-play"></i
            ></el-menu-item>
            <el-menu-item index="4"
              ><i class="el-icon-shopping-bag-1"></i
            ></el-menu-item>
          </el-menu>
          <div class="line"></div>
        </el-col>
        <el-col :lg="1" class="d-none">
          <el-avatar
            :size="50"
            src="https://lh3.googleusercontent.com/ogw/ADGmqu-Gy8CqpSuvmtte9evH-DJ9-lowo3E78ld-0flMJw=s83-c-mo"
          ></el-avatar>
        </el-col>
        <el-col :lg="1" class="d-none" v-if="isAuthenticated">
          <span class="title-span">
             <a class="navbar-link">
              {{ loggedInUser.username }}
            </a>
          </span>
          <a @click="logout"> Đăng xuất</a>
        </el-col>
        <el-col :lg="4" :sm="12" :xs="12" class="icon-right">
          <div class="icon-top">
            <el-badge class="item">
              <i class="el-icon-circle-plus-outline"></i>
            </el-badge>
            <IconMessage />
            <Notification />
            <el-badge class="item">
              <i @click="drawer = true" class="el-icon-s-operation"></i>
            </el-badge>
          </div>
        </el-col>
      </el-row>
    </el-header>
    <el-drawer class="pop_right_mobile" title="Menu" :visible.sync="drawer">
      <el-menu style="text-align: left">
        <el-menu-item>
          <el-avatar
            :size="50"
            src="https://lh3.googleusercontent.com/ogw/ADGmqu-Gy8CqpSuvmtte9evH-DJ9-lowo3E78ld-0flMJw=s83-c-mo"
          >
          </el-avatar>
          <span class="title-span">User</span>
        </el-menu-item>
        <el-menu-item>
          <img
            src="https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/kyCAf2jbZvF.png"
            alt="page"
          />
          <span class="title-menu-left">Pages</span>
        </el-menu-item>
        <el-menu-item>
          <img
            src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/S0U5ECzYUSu.png"
            alt="banbe"
          />
          <span class="title-menu-left">Friends</span>
        </el-menu-item>
        <el-menu-item>
          <img
            src="https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/SeXJIAlf_z-.png"
            alt="tinnhan"
          />
          <span class="title-menu-left">Massage</span>
        </el-menu-item>
      </el-menu>
    </el-drawer>
  </el-container>
</template>
<script>
import IconMessage from "../../components/common/header/icon/message";
import Notification from "../../components/common/header/icon/notification";
import Logo from "../../components/Logo";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      drawer: false,
      activeIndex: "1",
      input1: "",
    };
  },
  computed: {
    ...mapGetters(["isAuthenticated", "loggedInUser"]),
  },
  components: {
    IconMessage,
    Notification,
    Logo,
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    },
    async logout() {
      await this.$auth.logout();
    },
  },
};
</script>
<style>
.el-badge__content.is-fixed {
  top: 18px;
}
.el-avatar {
  margin-top: 7px;
}
</style>